<h1>質問一覧</h1>

<%= link_to "新しい質問を投稿する", new_question_path, class: "btn btn-primary mb-4" %>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @questions.each do |question| %>
    <%= render "questions/question_card", question: question %>
  <% end %>
</div>